body{
	margin: 20px;
	font-family: 'Verdana', sans-serif;
	background-image: url('orbit.png');
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}

header{
	height: 170px;
	background-color: #808080;
	border-style: round;
}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 170px;
}

header h1{
	float: left;
	margin: 50px 0 0 30px;
	font-size: 60px;
	color: #ffffff;
}

nav{
	clear: both;
	width: 80%;
	margin: 0px auto;
	height: 55px;
}

nav a{
	color: white;
	text-decoration:none;
	text-align: center;
}

nav .opcao{
	float: left;
	width:31.3%;
	background-color: gray;
	padding: 10px 0;
	margin: 0 1%;
	font-size: 26px;
	border-radius: 10px;
}

nav .opcao:hover{
	background-color: darkgray;
}

div.transbox{
	clear: none;
	width: 70%;
	margin: 10px;
	background-color: rgba(00, 00, 00, 0.2);
	border: 1px solid white;
}

section{
	float:left;
	min-height: 360px;
	width: auto;
	margin-top: 0px;
	opacity: 1.0;
}

section #topo{
	width: 1000px auto;
	margin: 0px auto;
	height: 270px;
}

.arcondicionado{
	height: 200px;
	width: 300px;
}
.direito{
	float: right;
}
.esquerdo{
	float: left;
}
.topo2{
	height: 250px;
	width: 800px;
}

section #titulos{
	text-align: center;
	height: 250px;
	width: 650px;
	margin: 0px auto;
	color: white;
}

h2{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 35px;
}

h3{
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
}

section p{
	clear: both;
	text-align: center;
	margin: 10px 80px;
	color: white;
}

div.caixa{
	float: right;
	width: 20%;
	margin: 10px;
	background-color: rgba(00, 00, 00, 0.2);
	border: 1px solid white;
}

aside{
	position: relative;
	float: right;
	min-height: 0%;
	width: auto;
	opacity: 1.0;
}

aside p{
	clear: none;
	text-align: center;
	margin: 10px ;
	color: white;
}

footer{
	clear: both;
	background-color: #005f89;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.tabelaProdutos{
	margin: 10px auto;
	text-align: center;
}

.tituloTabela{
	background-image: linear-gradient(to right, hotpink, yellow, green, orange, pink);
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
	border: transparent;
}

.imagentb{
	height: 40px;
	width: 50px;
}

tr,td,th{
	border: 1px solid #B0C4DE;
	padding: 5px;
}

tr,td{
	font-size: 14px;
}
thead,tbody{
	background-color: lightgray;
}
th #cores{
	background-color: hotpink;
}
.faleconosco{
	width: 300px;
	margin: 0px auto;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}
.faleconosco input, .faleconosco textarea, .faleconosco select{
	margin: 5px auto;
	width: 100%;
	padding: 5px 0;
}
.faleconosco textarea{
	height: 100px;
	resize: none;
}
.faleconosco button{
	width: 30%;
	margin: 0 10%;
	background-color: #b1ccf5;
	font-weight: bold;
	font-size: 16px;
}